* {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap')
}
.container {
  background-image: url(./pexels-johannes-plenio-1118873.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: whitesmoke;
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: white;
  width: 50vw;
  height: 70vh;
  box-shadow: 0.5rem 0.5rem rgb(225, 220, 220);
  display: flex;
}
.main aside {
  width: 45%;
  height: 100%;
  background-color: black;
}
.design1 {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: .5rem;
}
.part1 {
  background-color: rgb(234, 53, 32);
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  height: 55%;
  width: 50%;
  background-color: rgb(225, 225, 66);
}

.part2 {
  background-color: rgb(56, 56, 186);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 70%;
  height: 60%;
  border-radius: 50%;
  background-color: rgb(46, 140, 217);
}
.design2 {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5rem;
}
.part3 {
  background-color: rgb(46, 140, 217);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(56, 56, 186);
}
.part4 {
  width: 35%;
  background-color: rgb(225, 225, 66);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle {
  height: 50%;
  width: 60%;
  background-color: rgb(234, 53, 32);
}
.hello {
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10rem;
}
.para {
  color: white;
  font-size: small;
  text-align: center;
  padding: 0.8rem;
}
.right {
  margin: 4rem;
}
.in-box {
  display: flex;
  align-items: center;
}
.heading {
  font-size: 1rem;
  text-align: start;
}
.heading h1{
    font-family:sans-serif;
}
.form input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(47, 46, 46);
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn1 button{
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.remove-line{
    text-decoration: none;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
}